@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --primary-bg-color: #07171D;
    --clock-wrapper-bg-color: #07171D;
    --clock-wrapper-font-color: #adc3d1;
    --primary-white-color: #ffffff;
    --dayBox-font-color: #051115;
    --pop-up-bg-color: #121212;
    --hour-hand-color: #FF2E63;
    --minute-hand-color: #FFFFFF;
    --second-hand-color: #1A73E8;
    --wrapper-shadow: 0 0 40px 1px #b6b6b67b;
    --primary-text-color: #FFFFFF;
}

.lightMode {
    /* --primary-bg-color: #f6f7fb; */
    --primary-bg-color: #F3F2ED;
    --clock-wrapper-bg-color: #EBF6F7;
    --clock-wrapper-font-color: #57636b;
    --primary-white-color: #ffffff;
    --dayBox-font-color: #051115;
    --pop-up-bg-color: #121212;
    --minute-hand-color: #18191a;
    --wrapper-shadow: 0 0px 20px rgba(0, 0, 0, 0.185);
    --primary-text-color: #18191a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-bg-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.clockWrapper {
    background-color: var(--clock-wrapper-bg-color);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--clock-wrapper-font-color);
    /* box-shadow: 0 0 40px 1px #b6b6b67b; */
    box-shadow: var(--wrapper-shadow);
}

.clockWrapper::before {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--minute-hand-color);
    border-radius: 50%;
    z-index: 5;
}

#clockContainer span {
    text-align: center;
    position: absolute;
    rotate: calc(30deg * (var(--i)));
    inset: 12px;
}

#clockContainer span b {
    rotate: calc(-30deg * (var(--i)));
    display: inline-block;
}

.clockHands {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
}

.clockHands i {
    height: 120px;
    border-radius: 10px;
    width: 4px;
    position: absolute;

}

#hour i {
    height: 70px;
    background-color: var(--hour-hand-color);
}

#minute i {
    height: 100px;
    background-color: var(--minute-hand-color);
}

#second i {
    background-color: var(--second-hand-color);
}

#hour {
    z-index: 4;
}

#minute {
    z-index: 3;
}

#second {
    z-index: 1;
}

#daybox {
    text-align: center;
    font-size: 12px;
    color: var(--dayBox-font-color);
    width: auto;
    height: 18px;
    background-color: var(--primary-white-color);
    transform: translate(-18px, 100px);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2px;
    position: absolute;
}

#datebox {
    position: absolute;
    text-align: center;
    font-size: 12px;
    color: var(--dayBox-font-color);
    width: auto;
    height: 18px;
    background-color: var(--primary-white-color);
    transform: translate(80px, -8px);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2px;
}

.text-container {
    top: 90vh;
    position: absolute;
    display: block;
    color: var(--primary-text-color);
    letter-spacing: 2.5px;
}

.text-container a {
    color: var(--primary-text-color);
}

.pop-up {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--pop-up-bg-color);
    z-index: 999;
    filter: opacity(90%);
    color: var(--primary-white-color);
    font-size: 40px;
    letter-spacing: 8px;
}

.pop-up img {
    width: 38px;
    height: 38px;
    margin: 10px;
}

.pop-up img:hover {
    transform: scale(1.1);
    transition-duration: 300ms;
}

.pop-up p {
    padding: 28px;
}

.close-me-box {
    position: absolute;
    top: 30px;
    right: 30px;
}

.close-me-box img {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.close-me-box img:hover {
    transition-duration: 0ms;
    cursor: pointer;
}

.toggle-Mode {
    display: block;
    position: absolute;
    top: 2vh;
    right: 5vw;
}

.toggle-Mode img {
    width: 48px;
    height: 48;
    transition: ease-in-out 500ms;
}

.toggle-Mode img:hover {
    cursor: pointer;
    transform: rotate(180deg);
    transition-duration: 500ms;
}

.switch:last-child{
    display: none;
}